{% extends 'base.html.twig' %}

{% block body %}
	<div class="fiche-titre">
		<hr class="my-4"/>
		Voies
		<hr class="my-4"/>
	</div>
	<div class="voieList px-4">
		{% for voie in voieList %}
		<a href="/voie/{{voie.id}}">								
			<span class= "voie">{{voie.name}}</span>				
		</a>
		{% endfor %}

		<div class="sticky top-24">
            {% include "components/_search_data.html.twig" with {
                form: form ?? null
            } only %}
        </div>
	</div>
	<div class="fiche-titre">
		<hr class="my-4"/>
		Jutsu
		<hr class="my-4"/>
	</div>
		<div class="container px-4 px-lg-5">
		{% for jutsu in jutsuList %}			
			<a href="/jutsu/{{jutsu.name}}" class="Link">
						<!-- Jutsu view-->
					<div class="jutsu">
					
                        <div class="jutsu-div">
							<span class="titre">Nom: </span>{{jutsu.name}}
						</div>
						<div class="jutsu-div">
							<span class="titre">Nom dans le plugin: </span>{{jutsu.nameInPlugin}}
						</div>
						<div class="jutsu-div">
							<span class="titre">Cout chakra: </span>{{jutsu.manaCost}}
						</div>
						<div class="jutsu-div">
							<span class="titre">Public: </span>{{jutsu.publique}}
						</div>
						<div class="jutsu-div">
							<span class="titre">Rang: </span>{{jutsu.level}}
						</div>
						<div class="jutsu-div">
							<span class="titre">Mudras: </span>{{jutsu.mudras}}
						</div>
						<div class="jutsu-div">
							<span class="titre">Voie du jutsu: </span>{{jutsu.getIdVoie.name}}
						</div>
					</div>
			</a>
					<hr class="my-4"/>
		{% endfor %}
	</div>
{% endblock %}
